body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  background-image: url('https://domf5oio6qrcr.cloudfront.net/medialibrary/8718/brain-music-health-memory.jpg'); /* Replace with the correct path to your image */
  background-size: cover; /* Ensures the image covers the entire background */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-attachment: fixed; /* Ensures the background stays fixed during scrolling */
  height: 100vh; /* Ensures the body takes up the full height of the viewport */
  width: 100vw; /* Ensures the body takes up the full width of the viewport */
}

header {
  background-color: rgba(51, 51, 51, 0.8); /* Adds a semi-transparent background to the header */
  color: white;
  padding: 20px;
  text-align: center;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9); /* Adds a semi-transparent background to the container */
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.quiz-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - 100px); /* Adjust as necessary to accommodate header height */
}

.jumbotron {
  padding: 2rem 1rem;
  background-color: #e9ecef;
  border-radius: 0.3rem;
}

h1 {
  color: #333;
}

.invite-header {
  font-size: 2.5rem; /* Adjust the size as needed */
}

label {
  display: block;
  margin-bottom: 8px;
}

input,
select {
  width: 100%;
  padding: 8px 16px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

button {
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  padding: 8px 16px;
  cursor: pointer;
  width: auto;
}

button.custom-button {
  width: 120px;
}

button:hover {
  background-color: #0056b3;
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-item {
  margin-right: 20px;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.nav-link:hover {
  text-decoration: underline;
}

.custom-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.custom-button {
  width: 120px;
  margin-top: 10px;
  align-self: center;
}

.email-container {
  margin-bottom: 20px;
  width: 100%;
}

.email-container label {
  display: block;
  margin-bottom: 8px;
}

.email-container input {
  width: 100%;
  max-width: 400px; /* Adjusted width for input fields */
  padding: 10px 16px;
  margin-bottom: 10px;
}

.email-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 200px); /* Full viewport height minus approximate navbar height */
  text-align: center;
}

.email-button {
  width: 120px;
  margin-top: 10px;
}

.custom-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.custom-input {
  width: 100%;
  max-width: 400px; /* Adjusted width for input fields */
  margin-bottom: 20px;
}

.custom-button {
  width: 120px;
  margin-top: 10px;
  align-self: center;
}

input[type="text"],
input[type="password"],
textarea {
  width: 100%;
  padding: 8px;
}

input.custom-input-wide {
  max-width: 800px; /* New class for making input fields twice as wide */
}
